

.contactForm {
    max-width: 40%;
}

.footerNav {
    width: 100%;
    background-color: #548F6C;
    height: auto;
    padding: 8px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 32px 0 0 0;
    max-height: 65px;
}

.footerNav > nav > small > a {
    margin-left: 16px;
}

input[type="submit"] {
    max-width: 110px;
    margin: 0;
}

.map {
    background-color: black;
    height: 300px;
    width: 50%;
    margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footerInfo {
        display: block;
        padding: 0 10%;
    }

    .contactForm {
        max-width: 100%;
        width: 100%;
        margin: 32px 0;
    }

    .map {
        width: 100%;
        margin: 32px auto;
    }
    

    .footerNav {
        display: block;
        height: auto;
        max-height: 100px;
    }
    .footerNav > nav {
        display: none;
    }

   


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footerNav > nav {
        display: none;
    }

    .footerNav {
        justify-content: center;
    }

    .contactForm {
        max-width: 100%;
        width: 100%;
        margin: 32px 0;
    }

    .footerInfo {
        display: block;
        padding: 0 10%;
    }

    .map {
        width: 100%;
        margin: 32px auto;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footerNav > nav {
        display: block;
    }

    .footerNav {
        flex-wrap: wrap;
    }

    .contactForm {
        max-width: 40%;
        width: 100%;
        margin: 32px;
    }

    .map {
        background-color: black;
        height: 300px;
        width: 50%;
        margin: 0 auto;
    }
    
    .footerInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: no-wrap;
        padding:  0 10%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footerNav {
        justify-content: space-between;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}