/* Fonts */

@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald.ttf");
    font-display: swap;
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins-Regular.ttf");
    font-display: swap;
    font-family: "Poppins Semi-bold";
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-display: swap;
    font-family: "Poppins thin";
    src: url("../fonts/Poppins-Thin.ttf");
    font-display: swap;
  }

html {font-size: 112.5%;} /*18px*/

body {
  background-color: white;
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  line-height: 1.15;
  color: #333;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

label {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
}

a:active {
    font-weight: 600;
}

a:hover {
   color: #94DD83;
}

.show {
    display: block!important;
    height: auto!important;
}

.hide {
    display: none;
}

/* ===================================================================== */



/* Style Guide */

.content {
    padding: 0 10%;
    margin: 72px 0;
}

.wht { 
    color: white;
}

.mid {
    text-align: center;
}


/*  buttons */

.btn {
    padding: 8px 24px;
    background-color: #548F6C;
    color: white;
    border-radius: 3px;
    margin: 16px 0;
    transition: all 0.4s ease-in-out;
    max-height: 45px;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-alt {
    background-color: white;
    color: #548F6C;
}

/* Forms */

input, textarea {
    border: none;
    border-bottom: 1px solid #548F6C;
    padding: 8px 16px;
    color: #999999;
    width: 100%;
}

input:focus, textarea {
    outline-color: #94DD83;
}

input:valid, textarea:valid {
    border: 1px solid #548F6C;
}

input[type="submit"]:valid {
    border: none;
}

input[type="submit"]:hover {
    border: none;
    cursor: pointer;
}


/* ==== */



/* responsive styles */

@media only screen and (max-width: 600px) {
    body {
        margin-bottom: 60px;
    }
    


}

@media only screen and (min-width: 600px) {
    body {
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: 768px) {
   body {
       margin: 0;
   }

}



.faMap {
    height: 32px;
    width: 32px;
    color: #548F6C;
}

.mapLink {
    font-size: 16px;
    color: #548F6C;
    font-weight: 700;
    text-align: center;
}




