

.contactForm {
    max-width: 40%;
}

.text {
    text-align: left;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    .container {
        display: block;
    }


    .contactForm {
        max-width: 100%;
        width: 100%;
        margin: 0 32px 0 0;
    }

    .text {
        width: 100%;
        margin: 0;
        padding: 0;
    }

   


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .container {
        display: block;
    }


    .contactForm {
        max-width: 100%;
        width: 100%;
        margin: 0 32px 0 0;
    }

    .text {
        width: 100%;
        margin: 0;
        padding: 0;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .contactForm {
        max-width: 100%;
        width: 100%;
        margin: 0 32px 0 0;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contactForm {
        max-width: 40%;
        width: 40%;
        margin: 0 32px 0 0;
    }

    .text {
        width: 50%;
        margin: 0;
        padding: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}