.container {
    background-color: #548F6C;
    max-height: 245px;
    height: 245px;
    width: 300px;
    border-radius: 8px;
    overflow: visible;
    padding:  0 16px;
}

.img {
    background-color: white;
    background-size: cover;
    width: 250px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    top: -30px;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}




.meta {
    display: block;
    overflow: visible;
}

.listing {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-row-gap: 72px;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: visible;
}

.h5 {
    margin: 0 0 16px 0;
    padding: 0;
    line-height: 1;
    font-size: 1rem;
    color: white;
}

.filterContainer {
    margin: 72px 0;
    padding: 0;
}

.filterList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filterList > li  {
    padding: 0;
    margin: 4px 0;
    transition: all 0.6s ease-in-out;
}

.filterList > li > a {
    color: #999999;
    margin: 0 8px;
}

.filterList > li:hover{
    transform: scale(0.95);
    color: #548F6C;
}

.filterList > li > a:hover{
    color: #548F6C;
}



.filterSelector {
    font-size: 700;
    color: white;
    background-color: #548F6C;
    padding: 8px;
    border-radius: 8px;
    max-width: 350px;
    max-height: 45px;
    margin-bottom: 16px;
}

.filterSelector > p {
    line-height: 1;
    margin: 0;
    padding: 0;
    
}

@media only screen and (max-width: 600px) {

    .listing {
        grid-template-columns: auto;
    }
    

}

@media only screen and (min-width: 600px) { 

    .listing {
        grid-template-columns: auto;
    }

}

@media only screen and (min-width: 768px) { 

    .listing {
        grid-template-columns: auto;
        grid-column-gap: 0;
    }

}

@media only screen and (min-width: 992px) { 

    .listing {
        grid-template-columns: auto auto;
        grid-column-gap: 0;
    }

}

@media only screen and (min-width: 1400px) { 

    .listing {
        grid-template-columns: auto auto auto;
        grid-column-gap: 0;
    }

}